.header{
    &-top{
        height: 60px;
        line-height: 60px;
        padding: 0 20px;
        text-align: right;
        a{
            margin-left: 40px;
        }
    }
    &-info{
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        border-top: 2px solid #1DA57A;
    
        &-title{
            font-size: 20px;
            text-align: center;
        }
        .weather{
            text-align: right;
            .date{
                margin-right: 20px;
            }
        }
    }
}